**/__pycache__/
**/node_modules/
**/models/
**/checkpoints/
api/data/
api/index/
api/temp/result.avi
web/public/video/output/*
!web/public/video/output/.gitkeep
web/public/audio/output/*
!web/public/audio/output/.gitkeep