body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    font-family: Arial, sans-serif;
  }

  
  .video-container video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw; /* Viewport width */
    height: 100vh; /* Viewport height */
    object-fit: contain; /* Maintain aspect ratio and contain within dimensions */
    transform: translate(-50%, -50%); /* Center the video */
    z-index: -1; /* Ensure video is in the background */
  }
  
  
  
  .controls {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent overlay */
  }
  
  #sendButton {
    height: 50px; /* Set height to match the microphone button */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 15px; /* Some padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    display: flex; /* To align SVG and text */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

#sendButton svg {
    margin-right: 5px; /* Space between SVG icon and text */
    fill: white; /* SVG color */
}

#sendButton:hover {
    background-color: #45a049; /* Darker shade of green on hover */
}
#microphone-button {
    width: 50px;
    height: 50px;
    position: relative; /* Added to ensure z-index is effective */
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 2; /* This now effectively places the button above the ::after pseudo-element */
}

#microphone-button::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 62%;
    width: 52px; /* Slightly larger than the button to encircle it */
    height: 52px;
    border: 3px solid pink; /* Adjust the border width if necessary */
    border-radius: 50%;
    animation: blink-animation 2s infinite;
    display: none;
    z-index: -1;
    transform: translate(-50%, -50%); /* Center the circle */
}



#microphone-button.listening::after {
    display: block; /* Show when the microphone button has 'listening' class */
}

/* Keyframes for blinking effect */
@keyframes blink-animation {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

#microphone-button img {
    width: 50px; /* Ensure it covers the width */
    height: 50px; /* Ensure it covers the height */
    object-fit: cover; /* Cover the button area, could slightly crop the image */
    border-radius: 50%; /* Keeps the circular shape */
  }


#inputText {
    width: 200px; /* Fixed width */
    height: 50px; /* Set height to match the microphone button and send button */
    margin: 0 10px; /* Adds some space around the input for visual separation */
    padding: 0 10px; /* Adjust padding to align text vertically */
    border: 1px solid #ccc; /* Standard border */
    border-radius: 5px; /* Rounded corners to match button styles */
    font-size: 16px; /* Adjust font size for consistency */
    display: flex; /* Aligns text vertically */
    align-items: center; /* Centers text vertically */
    background-color: white; /* Assuming a white background, adjust as needed */
    color: black; /* Text color, adjust as needed */
    
  }
  

  
#videoPlayer, #responseVideoPlayer {
    opacity: 0.95;
    transition: opacity 0.5s ease;
}
  .speech-bubbles {
    position: fixed;
    bottom: 100px; /* Adjust based on control height */
    width: calc(100% - 20px);
    max-height: 95%;
    overflow-y: auto;
    margin: 0 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0); /* Lightly transparent background */
    display: flex;
    flex-direction: column-reverse; /* Newest messages at the bottom */
    align-items: flex-end; /* Align speech bubbles to the right */
  }
  
  .speech-bubble {
    background-color: #f1f1f1;
    padding: 10px;
    margin-right: 5%;
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block; /* Allow the bubble to shrink to fit its content */
    border-radius: .4em;
    position: relative;
    background: #1177a6;
    color: #d6f0f5;
    max-width: 100%; /* Ensure it doesn't overflow its container */
    word-wrap: break-word; /* Ensure long words do not cause overflow */
    border: 2px solid #d29d05;
    font-size: 24px;
  }

  a {color:  pink}
  
  .speech-bubble:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #d29d05; /* Color of the speech bubble tail */
    border-left: 0; /* Remove left border */
    border-bottom: 0; /* Remove bottom border */
    margin-top: -10px; /* Adjust based on the size of the tail */
    margin-left: -20px; /* Push the tail to the left of the container */
    
}

  .speech-bubble:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-left-color: #d29d05;
      border-right: 0;
      border-bottom: 0;
      margin-top: -10px;
      margin-right: -20px;
  }
  
  .speech-bubble.hide-before::before {
    display: none;
}

.speech-bubble.hide-after::after {
    display: none;
}

  #overlayv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #overlayv video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  
  /* Media query for wider screens (e.g., desktops) */
@media (min-width: 768px) { /* Adjust this breakpoint as needed */
    .speech-bubble {
      width: 25%; /* Adjusted width for wider screens */
    }
  }
