gradio==4.7.1
langchain
llama_index
jinja2==3.1.2
markupsafe==2.0.1
torch
transformers
llama-cpp-python
TTS
simpleaudio
sentence-transformers
docx2txt
pypdf
pyttsx3
gtts
llama-index-readers-pdf-table
llama-index-llms-langchain
llama-index-embeddings-huggingface